VITE_GLIVE_APIUSER=nobarid
VITE_GLIVE_KEY=
VITE_GLIVE_SPORTTYPES=FOOTBALL,BASKETBALL,TENNIS,BADMINTON,CRICKET,VOLLEYBALL,BASEBALL,MUAYTHAI,MMA,ICEHOCKEY,EFOOTBALL,ESPORTS,GOLF,SNOOKER,RUGBY,AMERICAN-FB,TABLETENNIS,MOTOSPORT
VITE_GLIVE_FORMAT=JSON
VITE_GLIVE_BRAND=nobarid
VITE_GLIVE_LANG=EN
